## Kütüphaneleri import etme işlemi

In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\dogukan\anaconda3\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dogukan\anaconda3\lib\site-packages (from mlxtend) (1.10.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dogukan\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dogukan\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\dogukan\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dogukan\anaconda3\lib\site-packages (from mlxtend) (3.7.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dogukan\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dogukan\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\dogukan\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dogukan\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dogukan\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dogukan\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dogukan\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\dogukan\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dogukan\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dogukan\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dogukan\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dogukan\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Could not fetch URL https://pypi.org/simple/pip/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/pip/ (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self-signed certificate in certificate chain (_ssl.c:1006)'))) - skipping
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import itertools

## Dataseti okuma

In [3]:
df = pd.read_csv('GroceryStoreDataSet.csv')

In [4]:
df

                          products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

## Birliktelik kuralları için düzenli veriler oluşturma

In [5]:
te = TransactionEncoder()
te_ary = te.fit(df['products'].apply(lambda x: x.split(','))).transform(df['products'].apply(lambda x: x.split(',')))
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Çıktıyı istenen formata dönüştürmek için
df_output = df_encoded.applymap(lambda x: 1 if x else 0)

# Veriyi Dataframe olarak gösterme
df = pd.DataFrame(df_output)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [6]:
"""
bu kod parçasında veri ön işleme işlemlerini gerçekleştirdim.
Bu kod, bir veri çerçevesinde bulunan kategorik verileri içeren bir sütunu işleyerek, bu verileri ikili bir diziye dönüştürmeyi amaçlamaktadır.
Bu tür dönüşüm genellikle "one-hot encoding" olarak adlandırılır ve makine öğrenimi algoritmalarında sıkça kullanılır.

İşlemleri adım adım açıklayalım:

TransactionEncoder sınıfının bir örneği olan te oluşturuluyor.
te nesnesi, df veri çerçevesindeki 'products' adlı sütunu alarak, her bir hücredeki ürünleri virgülle ayırarak bir liste haline getiriyor. Bu liste, bir dizi içinde saklanıyor.
fit ve transform yöntemleri kullanılarak, bu listeleri içeren veri kümesi te nesnesine uyarlanıyor ve sonuç bir ikili dizi (te_ary) elde ediliyor. Bu ikili dizi, her bir satırda bir ürünün varlığını (1) ya da yokluğunu (0) temsil eder.
te.columns_ kullanılarak, sütun adlarını temsil eden bir liste elde ediliyor ve bu liste ile birlikte te_ary dizisi kullanılarak yeni bir veri çerçevesi olan df_encoded oluşturuluyor.
df_encoded veri çerçevesindeki her elemanı kontrol ederek, eleman varsa (1), yoksa (0) olarak yeni bir ikili dizi elde etmek amacıyla applymap ve bir lambda fonksiyonu kullanılıyor.
Son olarak, dönüştürülmüş veri çerçevesi (df_output) ekrana yazdırılıyor.
Bu işlemlerin temel amacı, kategorik verileri içeren bir sütunu almak ve bu verileri ikili bir diziye dönüştürmek, böylece makine öğrenimi algoritmalarına daha uygun hale getirmektir.

Aşağıda ise bu çıktıyı dataframe'e çevirdim.

"""

'\nbu kod parçasında veri ön işleme işlemlerini gerçekleştirdim.\nBu kod, bir veri çerçevesinde bulunan kategorik verileri içeren bir sütunu işleyerek, bu verileri ikili bir diziye dönüştürmeyi amaçlamaktadır.\nBu tür dönüşüm genellikle "one-hot encoding" olarak adlandırılır ve makine öğrenimi algoritmalarında sıkça kullanılır.\n\nİşlemleri adım adım açıklayalım:\n\nTransactionEncoder sınıfının bir örneği olan te oluşturuluyor.\nte nesnesi, df veri çerçevesindeki \'products\' adlı sütunu alarak, her bir hücredeki ürünleri virgülle ayırarak bir liste haline getiriyor. Bu liste, bir dizi içinde saklanıyor.\nfit ve transform yöntemleri kullanılarak, bu listeleri içeren veri kümesi te nesnesine uyarlanıyor ve sonuç bir ikili dizi (te_ary) elde ediliyor. Bu ikili dizi, her bir satırda bir ürünün varlığını (1) ya da yokluğunu (0) temsil eder.\nte.columns_ kullanılarak, sütun adlarını temsil eden bir liste elde ediliyor ve bu liste ile birlikte te_ary dizisi kullanılarak yeni bir veri çerçevesi olan df_encoded oluşturuluyor.\ndf_encoded veri çerçevesindeki her elemanı kontrol ederek, eleman varsa (1), yoksa (0) olarak yeni bir ikili dizi elde etmek amacıyla applymap ve bir lambda fonksiyonu kullanılıyor.\nSon olarak, dönüştürülmüş veri çerçevesi (df_output) ekrana yazdırılıyor.\nBu işlemlerin temel amacı, kategorik verileri içeren bir sütunu almak ve bu verileri ikili bir diziye dönüştürmek, böylece makine öğrenimi algoritmalarına daha uygun hale getirmektir.\n\nAşağıda ise bu çıktıyı dataframe\'e çevirdim.\n\n'

In [7]:
df = pd.DataFrame(df_output)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [8]:
"""
bu verisetini diğer algoritmalarda kullanmak için csv türüne çevirdim.
"""

'\nbu verisetini diğer algoritmalarda kullanmak için csv türüne çevirdim.\n'

In [9]:
df.to_csv('products_dataset.csv', index=False)

## Her ürün için destek değerlerini bulma ve iterasyonlar

In [10]:
# verisetinde her üründen kaç tane olduğuna bakalım.
df.sum()

BISCUIT        7
BOURNVITA      4
BREAD         13
COCK           3
COFFEE         8
CORNFLAKES     6
JAM            2
MAGGI          5
MILK           5
SUGER          6
TEA            7
dtype: int64

In [11]:
# 1. İterasyon

#Kategorik değişkenlerin destek(support) değerlerini hesaplayarak, bu değerlere göre sıralama yaptık ve buradaki amacımız ürün sıklığını bulmak.
#Tüm öğeleri satır numarasına bölerek destek değerini bulabiliriz.Destek değeri için eşik değeri 0,2 olsun.

# df.sum() ile her bir kategorik değişkenin toplam gözlem sayısını (destek değeri) hesaplar. Bu, her bir kategorik değişkenin kaç kez görüldüğünü temsil eder.
# df.shape[0] ifadesi, veri çerçevesinde bulunan satır sayısını verir. Bu, toplam gözlem sayısını elde etmek için kullanılır.
# Bu iki değeri birbiriyle böler ve böylece her bir kategorik değişkenin destek değerini bulur.

first = pd.DataFrame(df.sum() / df.shape[0], columns = ["Support"]).sort_values("Support", ascending = False)
first

            Support
BREAD          0.65
COFFEE         0.40
BISCUIT        0.35
TEA            0.35
CORNFLAKES     0.30
SUGER          0.30
MAGGI          0.25
MILK           0.25
BOURNVITA      0.20
COCK           0.15
JAM            0.10

In [12]:
# Destek Değerine Göre Eleme

first[first.Support >= 0.20]

            Support
BREAD          0.65
COFFEE         0.40
BISCUIT        0.35
TEA            0.35
CORNFLAKES     0.30
SUGER          0.30
MAGGI          0.25
MILK           0.25
BOURNVITA      0.20

In [13]:
# 2. İterasyon
# Çift ürün kombinasyonları

# itertools.combinations(first.index, 2) ifadesi, first veri çerçevesindeki indeksler(kategorik değişken adları) arasındaki 
# tüm 2'li kombinasyonları oluşturur. Yani, bu kombinasyonlar iki kategorik değişkenin bir araya getirilmesiyle elde edilir.
# second adlı bir liste oluşturulur ve bu liste, itertools.combinations fonksiyonunun çıktısı olan kombinasyonları içerir.

second = list(itertools.combinations(first.index, 2))
second = [list(i) for i in second]

# Örnek
second[:10]

[['BREAD', 'COFFEE'],
 ['BREAD', 'BISCUIT'],
 ['BREAD', 'TEA'],
 ['BREAD', 'CORNFLAKES'],
 ['BREAD', 'SUGER'],
 ['BREAD', 'MAGGI'],
 ['BREAD', 'MILK'],
 ['BREAD', 'BOURNVITA'],
 ['BREAD', 'COCK'],
 ['BREAD', 'JAM']]

In [14]:
# Çift ürün kombinasyonları için destek değerlerini bulma

# Bir boş liste olan value oluşturulur, bu liste daha sonra her kombinasyonun destek değerlerini içerecektir.
# df.T.loc[second[i]].sum() ifadesi, kombinasyondaki kategorik değişkenlerin her bir gözlem için toplam sayısını verir.
# temp değişkenine bu toplam sayıyı atar.len(temp[temp == df.T.loc[second[i]].shape[0]]) ifadesi, her gözlemdeki toplam sayının,
# kombinasyondaki kategorik değişken sayısına eşit olduğu durumları sayar. Bu sayıyı, tüm gözlemlerin toplam sayısına bölerek destek değerini elde eder.
# Elde edilen destek değeri, value listesine eklenir.

value = []
for i in range(0, len(second)):
    temp = df.T.loc[second[i]].sum() 
    temp = len(temp[temp == df.T.loc[second[i]].shape[0]]) / df.shape[0]
    value.append(temp)
    
    
# Veri çerçevesi oluşturma

# pd.DataFrame kullanılarak, value listesinden bir veri çerçevesi olan secondIteration oluşturulur.
# "index" sütunu, kombinasyonları içeren tuple'lar halinde oluşturulur.
# "length" sütunu, her bir kombinasyondaki kategorik değişken sayısını içerir
# Son olarak, set_index ve sort_values fonksiyonları kullanılarak, destek değerlerine göre sıralama yapılır.

secondIteration = pd.DataFrame(value, columns = ["Support"])
secondIteration["index"] = [tuple(i) for i in second]
secondIteration['length'] = secondIteration['index'].apply(lambda x:len(x))
secondIteration = secondIteration.set_index("index").sort_values("Support", ascending = False)


# secondIteration[secondIteration.Support > 0.1] ifadesi ile destek değeri 0.1'den büyük olan kombinasyonları içeren 
# secondIteration veri çerçevesi filtrelenir.

secondIteration = secondIteration[secondIteration.Support > 0.1]
secondIteration

                       Support  length
index
(TEA, MAGGI)              0.20       2
(BREAD, TEA)              0.20       2
(BREAD, SUGER)            0.20       2
(BREAD, MILK)             0.20       2
(BREAD, BISCUIT)          0.20       2
(COFFEE, CORNFLAKES)      0.20       2
(COFFEE, SUGER)           0.20       2
(BREAD, COFFEE)           0.15       2
(BREAD, MAGGI)            0.15       2
(BREAD, BOURNVITA)        0.15       2
(COFFEE, COCK)            0.15       2
(BISCUIT, CORNFLAKES)     0.15       2

## İterasyonları daha iyi göstermek için bir fonksiyon oluşturuldu.

In [15]:
# Bu fonksiyonda Apriori algoritması türünde birliktelik kuralı analizi yapmayı amaçlar.Fonksiyon, veri setinde belirli bir destek değerini sağlayan 
# kategorik değişken kombinasyonlarını hesaplamak için tasarlanmıştır. İşlemleri şu şekilde açıklayabiliriz:

# ar_iterations fonksiyonu, bir Apriori benzeri birliktelik kuralı analizi gerçekleştirmek üzere tasarlanmıştır.
# Fonksiyonun parametreleri şu şekildedir. "data": Analiz yapılacak veri seti. "num_iter": İterasyon sayısı, yani kaç kategorik değişkenin bir arada inceleneceği.

# support_value: Belirli bir destek değeri eşiği, kombinasyonlar bu eşiği geçen destek değerlerine sahip olmalıdır.
# iterationIndex: İterasyonların oluşturulacağı kategorik değişken kombinasyonlarını belirten bir liste.

# İç içe geçmiş bir fonksiyon olan ar_calculation, verilen kategorik değişken kombinasyonları için destek değerlerini hesaplar 
# ve belirli bir destek değerini sağlamayan kombinasyonları eler.İlk olarak, birinci iterasyon için destek değerleri hesaplanır. 
# Bu, her bir kategorik değişkenin destek değeri, yani gözlemlerde ne kadar sıklıkla bulunduğunu ifade eder.


# Eğer num_iter 1 ise, yani sadece birinci iterasyon için destek değerleri hesaplanıyorsa, bu değerler bir veri çerçevesi olan res içinde saklanır.
# Eğer num_iter 2 ise, yani ikinci iterasyon için kombinasyonlar oluşturulup destek değerleri hesaplanıyorsa, 
# itertools.combinations kullanılarak ikili kombinasyonlar oluşturulur ve ar_calculation fonksiyonu çağrılarak destek değerleri hesaplanır.
# Eğer num_iter 2'den büyükse, yani üçüncü ve sonraki iterasyonlar için kombinasyonlar oluşturulup destek değerleri hesaplanıyorsa, 
# itertools.combinations kullanılarak gerekli kombinasyonlar oluşturulur ve tekrar ar_calculation fonksiyonu çağrılarak destek değerleri hesaplanır.
# Sonuç olarak, hesaplanan destek değerleri ve kombinasyonlar bir veri çerçevesi içinde saklanır ve bu veri çerçevesi döndürülerek birliktelik kuralı analizi sonuçları elde edilmiş olur.

In [16]:
def ar_iterations(data, num_iter = 1, support_value = 0.1, iterationIndex = None):
    def ar_calculation(iterationIndex = iterationIndex): 
        value = []
        for i in range(0, len(iterationIndex)):
            result = data.T.loc[iterationIndex[i]].sum() 
            result = len(result[result == data.T.loc[iterationIndex[i]].shape[0]]) / data.shape[0]
            value.append(result)
            
        result = pd.DataFrame(value, columns = ["Support"])
        result["index"] = [tuple(i) for i in iterationIndex]
        result['length'] = result['index'].apply(lambda x:len(x))
        result = result.set_index("index").sort_values("Support", ascending = False)
        result = result[result.Support > support_value]
        return result    
    
    # 1. İterasyon
    first = pd.DataFrame(df.T.sum(axis = 1) / df.shape[0], columns = ["Support"]).sort_values("Support", ascending = False)
    first = first[first.Support > support_value]
    first["length"] = 1
    if num_iter == 1:
        res = first.copy()
        
    # 2. İterasyon
    elif num_iter == 2:
        second = list(itertools.combinations(first.index, 2))
        second = [list(i) for i in second]
        res = ar_calculation(second)     
    else:
        nth = list(itertools.combinations(set(list(itertools.chain(*iterationIndex))), num_iter))
        nth = [list(i) for i in nth]
        res = ar_calculation(nth)
    
    return res

In [17]:
# iteration1 değişkeni, ar_iterations fonksiyonunu çağırarak birinci iterasyon sonuçlarını elde eder.
# df: Analiz yapılacak veri seti. num_iter=1: Sadece birinci iterasyon için kombinasyonları inceleyeceğimizi belirtir.
# support_value=0.1: Belirli bir destek değeri eşiği, kombinasyonlar bu eşiği geçen destek değerlerine sahip olmalıdır.
# iteration1 değişkeni, birinci iterasyon sonuçlarını içeren bir veri çerçevesidir. Bu veri çerçevesi, birinci iterasyon için 
# belirlenen destek değeri eşiğini geçen kategorik değişken kombinasyonlarını içerir.
# iteration1 değişkeni ekrana yazdırılarak, birinci iterasyon için bulunan birliktelik kuralı analizi sonuçları gözlemlenir.
# Bu şekilde, iteration1 değişkeni üzerinden birinci iterasyonun sonuçlarına erişilebilir ve analiz sonuçları incelenebilir.

iteration1 = ar_iterations(df, num_iter=1, support_value=0.1)
iteration1

            Support  length
BREAD          0.65       1
COFFEE         0.40       1
BISCUIT        0.35       1
TEA            0.35       1
CORNFLAKES     0.30       1
SUGER          0.30       1
MAGGI          0.25       1
MILK           0.25       1
BOURNVITA      0.20       1
COCK           0.15       1

In [18]:
iteration2 = ar_iterations(df, num_iter=2, support_value=0.1)
iteration2

                       Support  length
index
(COFFEE, CORNFLAKES)      0.20       2
(BREAD, TEA)              0.20       2
(TEA, MAGGI)              0.20       2
(BREAD, SUGER)            0.20       2
(BREAD, BISCUIT)          0.20       2
(BREAD, MILK)             0.20       2
(COFFEE, SUGER)           0.20       2
(BREAD, COFFEE)           0.15       2
(COFFEE, COCK)            0.15       2
(BISCUIT, CORNFLAKES)     0.15       2
(BREAD, BOURNVITA)        0.15       2
(BREAD, MAGGI)            0.15       2

In [19]:
iteration3 = ar_iterations(df, num_iter=3, support_value=0.01,
              iterationIndex=iteration2.index)
iteration3

                               Support  length
index
(COFFEE, BISCUIT, CORNFLAKES)     0.10       3
(COFFEE, CORNFLAKES, COCK)        0.10       3
(BREAD, MAGGI, TEA)               0.10       3
(BISCUIT, MAGGI, TEA)             0.10       3
(COFFEE, BREAD, SUGER)            0.10       3
(BREAD, TEA, BOURNVITA)           0.10       3
(BISCUIT, CORNFLAKES, COCK)       0.10       3
(BISCUIT, MILK, BREAD)            0.10       3
(COFFEE, BISCUIT, COCK)           0.10       3
(COFFEE, CORNFLAKES, MILK)        0.05       3
(CORNFLAKES, MILK, BREAD)         0.05       3
(BISCUIT, CORNFLAKES, BREAD)      0.05       3
(BISCUIT, CORNFLAKES, MILK)       0.05       3
(COFFEE, SUGER, BOURNVITA)        0.05       3
(MILK, BREAD, MAGGI)              0.05       3
(BISCUIT, BREAD, MAGGI)           0.05       3
(BISCUIT, BREAD, TEA)             0.05       3
(BISCUIT, BREAD, SUGER)           0.05       3
(COFFEE, BREAD, COCK)             0.05       3
(CORNFLAKES, MAGGI, TEA)          0.05       3
(CORNFLAKES, MILK, TEA)           0.05       3
(BREAD, SUGER, BOURNVITA)         0.05       3
(COFFEE, CORNFLAKES, TEA)         0.05       3
(COFFEE, MILK, TEA)               0.05       3
(COFFEE, CORNFLAKES, SUGER)       0.05       3

In [20]:
iteration4 = ar_iterations(df, num_iter=4, support_value=0.01,
              iterationIndex=iteration3.index)
iteration4

                                     Support  length
index
(COFFEE, BISCUIT, CORNFLAKES, COCK)     0.10       4
(BISCUIT, BREAD, MAGGI, TEA)            0.05       4
(BISCUIT, CORNFLAKES, MILK, BREAD)      0.05       4
(COFFEE, CORNFLAKES, MILK, TEA)         0.05       4

## Association Kuralları

In [21]:
# Apriori fonksiyonu, veri setinde birliktelik kuralı analizi yapmak için kullanılır. Bu fonksiyon, sıklık tablolarını oluşturarak sık görülen öğe kümelerini belirler. 
# Fonksiyonun parametreleri şunlardır. df: Analiz yapılacak veri seti. min_support=0.1: Belirli bir destek değeri eşiği, bu eşik altında olan öğe kümeleri analiz dışı bırakılır.
# use_colnames=True: Sütun isimlerini kullanarak öğe kümelerini etiketler. verbose=1: Ayrıntılı çıktı almayı sağlar.
# freq_items değişkenine, apriori fonksiyonu çağrılarak elde edilen sık öğe kümeleri (frequent itemsets) atanır.
# freq_items veri çerçevesi, analiz sonuçlarını içerir. Bu veri çerçevesinde her bir öğe kümesinin destek değeri (support) ve öğe kümesini ifade eden sütunlar bulunur.
# freq_items.sort_values("support", ascending=False) ifadesi kullanılarak, destek değerine göre sıralama yapılır. Böylece, en yüksek destek değerine sahip olan öğe kümeleri en üstte yer alır.
# Bu sıralı veri çerçevesi ekrana yazdırılarak, analiz sonuçları görüntülenir. Bu sonuçlar, belirlenen destek değeri eşiğini geçen sık öğe kümelerini içerir. 
# Bu kümeler, birliktelik kuralları çıkarmak ve veri setindeki desenleri anlamak için kullanılabilir.

In [22]:
# Apriori
freq_items = apriori(df, min_support = 0.1, use_colnames = True, verbose = 1)
freq_items.sort_values("support", ascending = False)

Processing 108 combinations | Sampling itemset size 4

C:\Users\DOGUKAN\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                             itemsets
2      0.65                              (BREAD)
4      0.40                             (COFFEE)
0      0.35                            (BISCUIT)
10     0.35                                (TEA)
5      0.30                         (CORNFLAKES)
9      0.30                              (SUGER)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
30     0.20                      (COFFEE, SUGER)
34     0.20                         (MAGGI, TEA)
11     0.20                     (BISCUIT, BREAD)
29     0.20                 (COFFEE, CORNFLAKES)
26     0.20                         (TEA, BREAD)
25     0.20                       (SUGER, BREAD)
24     0.20                        (MILK, BREAD)
1      0.20                          (BOURNVITA)
21     0.15                      (COFFEE, BREAD)
27     0.15                       (COFFEE, COCK)
23     0.15                       (MAGGI, BREAD)
3      0.15                               (COCK)
18     0.15                   (BOURNVITA, BREAD)
14     0.15                (BISCUIT, CORNFLAKES)
19     0.10                   (SUGER, BOURNVITA)
44     0.10           (COFFEE, CORNFLAKES, COCK)
43     0.10                  (MAGGI, TEA, BREAD)
42     0.10                  (MAGGI, JAM, BREAD)
41     0.10               (COFFEE, SUGER, BREAD)
40     0.10              (BOURNVITA, TEA, BREAD)
39     0.10                (MAGGI, BISCUIT, TEA)
38     0.10        (COFFEE, BISCUIT, CORNFLAKES)
37     0.10          (BISCUIT, CORNFLAKES, COCK)
36     0.10              (COFFEE, BISCUIT, COCK)
35     0.10               (BISCUIT, MILK, BREAD)
32     0.10                    (CORNFLAKES, TEA)
33     0.10                         (MAGGI, JAM)
20     0.10                     (BOURNVITA, TEA)
31     0.10                   (CORNFLAKES, MILK)
6      0.10                                (JAM)
12     0.10                      (BISCUIT, COCK)
28     0.10                   (CORNFLAKES, COCK)
13     0.10                    (COFFEE, BISCUIT)
15     0.10                     (MAGGI, BISCUIT)
16     0.10                      (BISCUIT, MILK)
17     0.10                       (BISCUIT, TEA)
22     0.10                         (JAM, BREAD)
45     0.10  (COFFEE, BISCUIT, CORNFLAKES, COCK)

In [23]:
# association_rules fonksiyonu, birliktelik kuralı analizi sonuçları üzerinden kurallar türetmek için kullanılır. Bu fonksiyon, sıklık tabloları ve destek değerleri üzerinden kuralları çıkarmaya yöneliktir. 
# Fonksiyonun parametreleri şunlardır. freq_items: Apriori algoritması ile elde edilen sık öğe kümelerini içeren veri çerçevesi.
# metric="confidence": Kullanılacak ölçüm metriği. Bu durumda, "confidence" yani güvenilirlik kullanılmaktadır.
# min_threshold=0.5: Belirli bir güvenilirlik eşiği, bu eşiğin altındaki kurallar analiz dışı bırakılır.
# df_ar değişkenine, association_rules fonksiyonu çağrılarak kurallar atanır.
# df_ar değişkeni, birliktelik kuralı analizi sonuçları üzerinden türetilen kuralları içeren bir veri çerçevesidir. 
# Bu veri çerçevesinde, her bir kural için destek, güvenilirlik (confidence), lift ve diğer ilgili metrikler bulunur.
# Bu veri çerçevesi ekrana yazdırılarak, birliktelik kuralı analizi sonuçları ve türetilen kurallar görüntülenir. 
# Bu kurallar, sıklıkla birlikte gözlenen öğeler arasındaki ilişkileri temsil eder ve analiz yapılan veri setindeki desenleri anlamak için kullanılır.

In [24]:
# Association Kuralları
df_ar = association_rules(freq_items, metric = "confidence", min_threshold = 0.5)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667,-0.174603
1,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000,0.558824
2,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000,0.428571
3,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400000,0.166667
4,(BOURNVITA),(SUGER),0.20,0.30,0.10,0.500000,1.666667,0.0400,1.400000,0.500000
...,...,...,...,...,...,...,...,...,...,...
61,"(COFFEE, COCK)","(BISCUIT, CORNFLAKES)",0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000,0.911765
62,"(BISCUIT, CORNFLAKES)","(COFFEE, COCK)",0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000,0.911765
63,"(BISCUIT, COCK)","(COFFEE, CORNFLAKES)",0.10,0.20,0.10,1.000000,5.000000,0.0800,inf,0.888889
64,"(CORNFLAKES, COCK)","(COFFEE, BISCUIT)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf,1.000000
65,(COCK),"(COFFEE, BISCUIT, CORNFLAKES)",0.15,0.10,0.10,0.666667,6.666667,0.0850,2.700000,1.000000

In [25]:
df_ar[(df_ar.support > 0.15) & (df_ar.confidence > 0.5)].sort_values("confidence", ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
8,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000,0.250000
18,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000,0.750000
9,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000,0.035714
14,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
16,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000,0.571429
0,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667,-0.174603
10,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667,-0.174603
19,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000,0.865385